<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafica-donut [doughnutChartLabels]="doughnutChartLabels1" [doughnutChartData]="doughnutChartData1" [doughnutChartType]="doughnutChartType"></app-grafica-donut>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafica-donut [doughnutChartLabels]="doughnutChartLabels2" [doughnutChartData]="doughnutChartData2" [doughnutChartType]="doughnutChartType"></app-grafica-donut>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafica-donut [doughnutChartLabels]="doughnutChartLabels3" [doughnutChartData]="doughnutChartData3" [doughnutChartType]="doughnutChartType"></app-grafica-donut>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafica-donut [doughnutChartLabels]="doughnutChartLabels4" [doughnutChartData]="doughnutChartData4" [doughnutChartType]="doughnutChartType"></app-grafica-donut>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>